body {
    font-family: sans-serif;
}

#app {
    padding: 20px;
}
.counter {
    font-size: 2em;
}
.log {
    font-size: 2em;
    min-height: 30px;
}
a, a:active, a:visited {
    color: blue;
    display: block;
    padding: 5px 0;
}